
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width = device-width, initial-scale = 1.0"/>
<meta name="keywords" content="朗麓家园，星航华府，同泰时代，蜂巢，蜂巢宅配，场景，家具，定制家具，品牌，信义御城，和悦居，"/>
<meta name="description" content="蜂巢场景家居是首家场景化家具定制品牌，蜂巢宅配至今已经为深圳信义御城，和悦居，星航华府，同泰时代等小区设计专属场景家具" />
<title>蜂巢场景家居-开启全新家居生活</title>
<link rel="stylesheet" type="text/css" href="/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
<link href="/css/font.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery-1.4.3.min.js"></script>
</head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->
<body  >

    <!-- MAIN WRAPPER -->

    <!-- Top 区域 -->
    

<div class="commondefault_top">
    <div class="top_inner">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" /></a>
        </div>

        <ul class="nav_wrap_left">
                 <li><a href="/Community?t=1" >未来家</a></li>
            <li><a href="/DesignerInfo?t=2" >设计家</a></li>
            <li><a href="/3.html" >家居商城</a></li>
            <li><a href="/AboutUs/Instruction?t=4">蜂巢说明书</a></li>
            <li><a href="/Activity?t=5">活动</a></li>
        </ul>
        <ul class="nav_wrap">

            <li id="car_shop">
                    <a href="/My/MyShopCart"><span>购物车(</span><span class="num">0</span><span>)</span></a>


            </li>

            <li class="my" id="my"><a href="javascript:;">我的</a>
                <div class="navwrap">
                    <dl class="twonav">
                        <dd><a href="/My/MyInfo">我的账户</a></dd>
                        <dd><a href="/My/MyOrder">我的订单</a></dd>
                        <dd><a href="/My/MyInfo">个人中心</a></dd>
                        <dd><a href="/My/MyShopCart">购物车</a></dd>
                    </dl>
                </div>
            </li>
                <li><a href="/Regist" id="register" >注册</a></li>
                <li><a href="/login" id="entry">登录</a></li>
        </ul>
    </div>
</div>


    <!-- Content Area -->
    
	<div class="news_w">
		<h2 class="news_t">@title<span>@news_addtime</span></h2>		
		<div class="news">
			@news_content
		</div>
	</div>


        <div class="common_foot">
            <div class="content">
                     <ul>
                           <li> 
                               <dl>
                                   <dt>遇见蜂巢</dt>
                                   <dd><a href="/aboutus/index#s1">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>关于我们</span></a></dd>

                                    <dd><a href="/aboutus/index#s2">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>蜂巢嗡嗡嗡</span></a></dd>

                                    <dd><a href="/aboutus/index#s3">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>成为设计师</span></a></dd>

                                <dd><a href="/aboutus/index#s4">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>商务合作</span></a></dd>
                                    <dd><a href="/aboutus/index#s5">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>加入我们</span></a></dd>
                               </dl>
                           </li>
                   <li> <dl>
                                   <dt>蜂巢说明书</dt>
                                    <dd><a href="/aboutus/instruction#s1">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>开启蜂巢生活</span></a></dd>
                         <dd><a href="/aboutus/instruction#s2">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>蜂巢品质</span></a></dd>
                            <dd><a href="/aboutus/instruction#s3">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>您身边的设计师</span></a></dd>
                                    <dd><a href="/aboutus/instruction#s4">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>便宜的理由</span></a></dd>
                                     <dd><a href="/aboutus/instruction#s5">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>支付方式</span></a></dd>
                                    
                               </dl></li>
                    <li>
                        <dl>
                                   <dt>客户服务</dt>
                             <dd><a href="/aboutus/service#s1">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>会员</span></a></dd>
                                    <dd><a href="/aboutus/service#s2">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>常见问题</span></a></dd>
                                     <dd><a href="/aboutus/service#s3">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>在线客服</span></a></dd>
                                     <dd><a href="/aboutus/service#s4">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>免责条款</span></a></dd>
                                     <dd><a href="/aboutus/service#s5">
                                       <div class="bzwrap">
                                           <img  src="/images/bz01.png"/>
                                           <img  src="/images/bz02.png" class="yincang"/>
                                       </div>
                                       <span>展厅地址</span></a></dd>
                               </dl>
                    </li>
                </ul>
               
            </div>
         </div>

    <script type="text/javascript">
        //公共底部的划伤去链接效果
        $('.common_foot dd a').hover(function () {
            $(this).find('.yincang,span').toggleClass('cur');
        });
</script>
</body>
</html>
