<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width = device-width, initial-scale = 1.0"/>
<meta name="keywords" content="朗麓家园，星航华府，同泰时代，蜂巢，蜂巢宅配，场景，家具，定制家具，品牌，信义御城，和悦居，"/>
<meta name="description" content="蜂巢场景家居是首家场景化家具定制品牌，蜂巢宅配至今已经为深圳信义御城，和悦居，星航华府，同泰时代等小区设计专属场景家具" />
<title>蜂巢场景家居-开启全新家居生活</title>
<link rel="stylesheet" type="text/css" href="/css/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
<link href="/css/font.css" rel="stylesheet" />
<br /><br />