<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--连接字符串-->
    <add key="Connstr" value="data source=kevin-pc\MSSQL2008;initial catalog=MyTemplate;persist security info=True;user id=sa;password=123456789" />
  </appSettings>
</configuration>