<!-- FOOTER -->
<div id="footer">
<p>&copy;  深圳市蜂宅一生科技有限公司 &nbsp;2015 &nbsp;</p>
</div>
<!--END FOOTER -->

<!-- GLOBAL SCRIPTS -->
<script src="/areas/admin/assets/plugins/jquery-2.0.3.min.js"></script>
@*<script src="/areas/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@
<script src="/Areas/Admin/assets/plugins/bootstrap/js/bootstrap.js"></script>
<script src="/areas/admin/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<!-- END GLOBAL SCRIPTS -->


