<!-- FOOTER -->
<div id="footer">
<p>  深圳市很有蜂格网络科技有限公司 &nbsp;Copyright&nbsp;&copy;&nbsp;2015-2016&nbsp;</p>
</div>
<!--END FOOTER -->

<!-- GLOBAL SCRIPTS -->
<script src="/areas/admin/assets/plugins/jquery-2.0.3.min.js"></script>
@*<script src="/areas/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@
<script src="/Areas/Admin/assets/plugins/bootstrap/js/bootstrap.js"></script>
<script src="/areas/admin/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<!-- END GLOBAL SCRIPTS -->


