<meta charset="UTF-8" />
<title>蜂巢宅配后台管理系统</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<!-- GLOBAL STYLES -->
<link rel="stylesheet" href="/areas/admin/assets/plugins/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/areas/admin/assets/css/main.css" />
<link rel="stylesheet" href="/areas/admin/assets/css/theme.css" />
<link rel="stylesheet" href="/areas/admin/assets/css/MoneAdmin.css" />
<link rel="stylesheet" href="/areas/admin/assets/plugins/Font-Awesome/css/font-awesome.css" />
<!--END GLOBAL STYLES -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<style type="text/css">
    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td {
        border-bottom-width: 2px;
        text-align: center;
    }
    .table > tbody > tr > td { vertical-align: inherit; }
     tr .btn{margin: 5px 10px;}
    .btn {margin: 0px 10px;min-width: 80px;}
    .col-lg-4 { width: 15% }
     input[type="checkbox"] {height: 20px;width: 20px;}
    .divsure { margin-left: 14.5%; }
    .form-control {width: 45%;display: inline;}
    .error { color: red; }
    .field-validation-error{color: red;  }
    .preview-img{max-height: 50px;}
</style>
  
