<!-- RIGHT STRIP  SECTION -->
<div id="right">

            
<div class="well well-small">
    <ul class="list-unstyled">
        <li>访问量 &nbsp; : <span>23,000</span></li>
        <li>注册会员 &nbsp; : <span>53,000</span></li>
        <li>Registrations &nbsp; : <span>3,000</span></li>
    </ul>
</div>
<div class="well well-small">
    <button class="btn btn-block"> Help </button>
    <button class="btn btn-primary btn-block"> Tickets</button>
    <button class="btn btn-info btn-block"> New </button>
    <button class="btn btn-success btn-block"> Users </button>
    <button class="btn btn-danger btn-block"> Profit </button>
    <button class="btn btn-warning btn-block"> Sales </button>
    <button class="btn btn-inverse btn-block"> Stock </button>
</div>
<div class="well well-small">
    <span>Profit</span><span class="pull-right"><small>20%</small></span>

    <div class="progress mini">
        <div class="progress-bar progress-bar-info" style="width: 20%"></div>
    </div>
    <span>Sales</span><span class="pull-right"><small>40%</small></span>

    <div class="progress mini">
        <div class="progress-bar progress-bar-success" style="width: 40%"></div>
    </div>
    <span>Pending</span><span class="pull-right"><small>60%</small></span>

    <div class="progress mini">
        <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
    </div>
    <span>Summary</span><span class="pull-right"><small>80%</small></span>

    <div class="progress mini">
        <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
    </div>
</div>
          
            
         

</div>
<!-- END RIGHT STRIP  SECTION -->   