<div class="media user-media well-small">
    <a class="user-link" href="#">
        <img class="media-object img-thumbnail user-img"  alt="User Picture" src="@ViewBag.HeadPic"/>
    </a>
    <br/>
    <div class="media-body">
        <h5 class="media-heading"> @ViewBag.Account</h5>
        <ul class="list-unstyled user-info">

            <li>
                <a class="btn btn-success btn-xs btn-circle" style="width: 10px; height: 12px;"></a> Online

            </li>

        </ul>
    </div>
    <br/>
</div>
